@model SliderInfo

@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">
    <h1 class="my-5" style="color:darkcyan;">SliderInfo detail</h1>
    <div class="slider-content">
        <img style="width:400px; height:200px;" src="~/img/@Model.SignatureImage" />
    </div>
    <div class="my-3">
        <h4 class="my-3">Header</h4>
        @Html.Raw(Model.Title)
        @*<input type="text" class="form-control" id="customFile" asp-for="Title" disabled="disabled" />*@
        <h4 class="my-3">Description</h4>
        <input type="text" class="form-control" id="customFile" asp-for="Description" disabled="disabled" />
    </div>
    <a class="btn btn-info mt-3" asp-action="Index">
        Back
    </a>
</div>


