@model SliderInfo

@{
    ViewData["Title"] = "Edit";
}

<div class="container my-5">
    <h1 style="text-align:center; color:darkcyan;">SliderInfo edit</h1>
    <div class="blog-content my-5">
        <img style="width:300px; height:138px;" src="~/img/@Model.SignatureImage" />
    </div>
    <form class="form-sample" asp-action="Edit" method="post" enctype="multipart/form-data">
        <h4 class="my-3">Image</h4>
        <input class="form-control" id="customFile" asp-for="Photo" />
        <span class="text-danger" asp-validation-for="Photo"></span>

        <h4 class="my-3">Header</h4>
        <textarea class="form-control" id="sliderInfo-text" asp-for="Title" rows="3"></textarea>
        <span class="text-danger" asp-validation-for="Title"></span>
      @*  <input type="text" class="form-control" id="customFile" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title"></span>*@

        <h4 class="my-3">Description</h4>
        <input type="text" class="form-control" id="customFile" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>


        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>

</div>
  
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("sliderInfo-text");
    </script>
}

